/* app/fruits.css */
.fruits-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 40px;
  background-color: #f4e1e1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.fruits-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.fruits-container h2 {
  font-size: 24px;
  color: #2a9d8f;
}

.fruits-container ul {
  list-style-type:disc;

}

.fruits-container li {
  padding: 8px 0;
  font-size: 18px;
  color: #45575f;
}

.fruits-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fruit-item {
  padding: 15px;
  background-color: #e8f5e9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fruit-item p {
  margin: 5px 0;
}

a {
  margin-top: 20px;
  display: inline-block;
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}
